body {
  font-family: Arial, sans-serif;
  background: #efb0a1;
  text-align: center;
}

header{
  background-color: #797d81;
  color: white;
  padding: 20px;
}

h1 {
  margin: 10px;
  font-size: 60px;
}

a{
  color: white;
  margin: 15px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
p {
  margin: 20px;
  font-size: 16px;
}

iframe {
  margin: 20px;
}

footer {
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
}

#taskform {
  background: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}
select {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  width: 50%;
  display: block;
  margin-left: 120px;
  padding: 8px;
  background-color: #797d81;
  color: white;
  cursor: pointer;
}
#tasklist {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  text-align: left;
  background-color: aliceblue;
  border-radius: 8px;
}

.task {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
}
