body {
  font-family: Arial, sans-serif;
  background: #efb0a1;
  text-align: center;
}
header{
  background-color: #797d81;
  color: white;
  padding: 20px;
}

h1 {
  margin: 10px;
  font-size: 60px;
}
